.windowContainer {
  width: 768px;
  max-width: 90vw;
  aspect-ratio: 16/9;
  transform: translate3d(var(--x, 0), var(--y, 0), 0);
}

.content {
  background: rgb(236, 233, 216);
  display: grid;
  grid-template-columns: 1fr 10rem;
  grid-template-rows: 1fr auto;
  grid-template-areas:
    "message users"
    "input users";
  overflow: hidden;
  height: 100%;
}
