.chatContainer {
  display: grid;
  grid-template-columns: auto 20rem;
  grid-template-rows: 1fr auto;
  grid-template-areas:
    "message users"
    "input ."; /* todo - controls next to input */

  input {
    width: 100%;
  }
}
