.chatContainer {
  display: grid;
  grid-template-columns: 1fr 10rem;
  grid-template-rows: 1fr auto;
  grid-template-areas:
    "message users"
    "input users"; /* todo - controls next to input */
}

.content {
  display: grid;
  grid-template-rows: 1fr auto;
}
