@tailwind utilities;

html {
  height: 100%;
  background: #333;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100%;
  display: grid;
  place-items: center;
  font-size: 11px;
  font-family: Pixelated MS Sans Serif, Arial;
  overflow: hidden;
}

#root {
  display: grid;
  grid-template-rows: auto 1fr;
}

/* XP.css overrides */
/* TODO: There's a lot of specific places this needs, can't be a blanket application
.window,
ul.tree-view,
.status-bar-field {
  -webkit-font-smoothing: none;
}
*/

.title-bar {
  -webkit-font-smoothing: antialiased;
}

details > summary {
  list-style: none;
}

details > summary::marker, /* Latest Chrome, Edge, Firefox */
details > summary::-webkit-details-marker /* Safari */ {
  display: none;
}

.title-bar {
  user-select: none;
}

ul.tree-view {
  border: 0;
}

.boxed-link::before {
  text-align: center;
  display: block;
  float: left;
  content: "+";
  border: 1px solid grey;
  width: 8px;
  height: 9px;
  line-height: 9px;
  margin-right: 5px;
  padding-left: 1px;
  background-color: #fff;
}
