@tailwind utilities;

html {
  height: 100%;
  background: #333;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100%;
  display: grid;
  place-items: center;
  font-size: 11px;
  font-family: Pixelated MS Sans Serif, Arial;
  -webkit-font-smoothing: antialiased;
}

#root {
  display: grid;
  grid-template-rows: auto 1fr;
}

span.keyboard-ctrl:first-letter {
  font-weight: bold;
  text-decoration: underline;
}
