.messageWindow {
  border-left: 2px solid #808080;
  border-top: 2px solid #808080;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  overflow: auto;
}

.notMe,
.me {
  @apply font-bold;
}

.notMe {
  @apply text-red-500;
}

.me {
  @apply text-blue-700;
}
